<main role="main" class="container">
  <%= link_to("Create new Item", new_blog_path, class: 'btn btn-default space m-5') if logged_in?(:site_admin) %> 
<div class="row">
  <div class="col-md-8 blog-main">
    <%= paginate @blogs %>
    <%= render @blogs %>
    <%= paginate @blogs %>
  </div><!-- /.blog-posts -->
  <%= render 'shared/blog_sidebar' %>
</div><!-- /.row -->
</main><!-- /.container -->
