<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
      <%= video_tag 'HardDrivePhotojpeg.mp4', id: 'background', autoplay:true, loop:true, muted: true, poster: 'railsBG2.jpg' %>
  <body class = "text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <%= render "shared/home_nav", location: 'top' %>
      <%= yield %>
      <%= render "shared/home_footer" %>
      <%#= source_helper("application") %>
    </div>
  </body>
</html>
